.my-trips-container {
  padding: 40px 5%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Badge de confirmado  */
.status-badge-overlay {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #10b981;
  color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 20px;
}

.image-wrapper img {
  display: block !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--secondary-color);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.cancel-btn {
  background-color: #ff4d4d;
  color: var(--secondary-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.confirm-btn {
  background: #d9534f;
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.close-btn {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.no-trips,
.loading {
  text-align: center;
  padding: 100px 20px;
  font-size: 1.2rem;
  color: #666;
}
