nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-color);
  position: relative;
  z-index: 1000;
  gap: 20px;
  color: var(--secondary-color);
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-links li a {
  position: relative;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 5px 0;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

/* LOGO */
.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
}

/* USER */
.user-links {
  display: flex;
  gap: 15px;
}

.btn-user {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 1px var(--secondary-color);
  border-radius: 22px;
  padding: 4px 16px;
  cursor: pointer;
}

.btn-user > a {
  text-decoration: none;
  color: var(--secondary-color);
}
.btn-user:hover {
  background-color: var(--hover);
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1100;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  transition: 0.3s;
}

/* Animación */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1180px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--main-color);
    display: none;
    padding: 20px 0;
    gap: 15px;
    z-index: 2000;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    width: 100%;
  }

  .user-links {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
  }
  li.btn-user .mobile-only {
    width: 80%;
    justify-content: center;
  }
}

@media (min-width: 1181px) {
  .mobile-only {
    display: none;
  }
  li.btn-user .mobile-only {
    width: 80%;
    justify-content: center;
  }
}
