.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  flex: none;
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}

.btn.primary {
  background-color: #fff;
  color: #2b1d0e;
}

.btn.primary:hover {
  background-color: var(--main-color);
  color: #fff;
  border-color: #fff;
  padding: 14px 43px;
}

.btn .text {
  position: relative;
  z-index: 2;
}

.btn .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition:
    transform 1s ease-in-out,
    background-color 0.4s ease,
    color 0.4s ease;
}

.btn.primary:hover .icon {
  transform: translate(-160px, -50%);
  background-color: #fff;
  color: var(--main-color);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.btn .icon svg {
  width: 18px;
  height: 18px;
  stroke-width: 2;
}

.btn.secondary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn.secondary:hover {
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}

.btn.secondary .icon {
  background-color: #fff;
  color: var(--main-color);
  transition:
    transform 1s ease-in-out,
    background-color 0.4s ease,
    color 0.4s ease;
}

.btn.secondary:hover .icon {
  transform: translate(-160px, -50%);
  background-color: var(--main-color);
  color: #fff;
}

.btn-user a::after {
  display: none;
}
