@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Poppins", sans-serif;
  --main-color: #fc0341;
  --secondary-color: white;
  --black: #111111;
  --footer-color: #2f2f2f;
  --hover: #cb093a;
}

.container {
  padding: 0rem 3rem 3rem 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  line-height: 35px;
  padding: 30px;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 20px;
}
ul {
  list-style: none;
}

/* ===============================
             VERSIÓN TABLET 
=============================== */

@media (min-width: 768px) and (max-width: 1180px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0 2rem;
  }

  h2 {
    text-align: center;
  }

  .orbit {
    display: none;
  }
}

/* ===============================
   MOBILE — hasta 767px
=============================== */
@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  h2 {
    text-align: center;
  }

  /* SECOND-HERO SECTION */

  section.second-hero {
    height: 50vh !important;
  }

  /* ORBIT (TRIP ANIMATION) */

  .orbit {
    display: none;
  }

  /* TEXTOS */
  h2 {
    font-size: 1.6rem;
    padding: 10px;
  }

  h3 {
    font-size: 1rem;
  }
}
