DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=your_mysql_password
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=120
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
RESEND_API_KEY=your_resend_api_key
RESEND_DOMAIN=your_resend_domain
